
<html>
<head>
    <base href="http://demos.telerik.com/kendo-ui/progressbar/events">
    <style>
        html {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <title></title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.material.mobile.min.css" />

    <script src="https://kendo.cdn.telerik.com/2017.1.223/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.1.223/js/kendo.all.min.js"></script>
    <link rel="stylesheet" href="../content/shared/styles/examples-offline.css">
    <script src="../content/shared/js/console.js"></script>
</head>
<body>
    <div id="example">
        <div class="demo-section k-content">
            <h4>ProgressBar</h4>
            StartNumber :  <input type="number" id="txtStartNumber" /><br /><br />
            EndNumber    : <input type="number" id="txtEndNumber" />


            <!--Telerik <div id="progressBar"></div> -->

            <progress id="progressBar" value="0" max="100"></progress>
            <button id="goUpButton" class="k-button k-primary">+</button>
            <button id="goDownButton" class="k-button k-primary">-</button>

            <button id="startProgress" class="k-button k-primary">Start progress</button>
            <div>
                <input id="dailygoal" type="checkbox" value="yes" onclick="CalculateDailyGoals();" />
                <label for="dailygoal">I have met daily goal</label>
            </div>
            <div>
                <input id="dailydeeds" type="checkbox" value="yes" onclick="CalculateDailyGoals();" />
                <label for="dailydeeds">I didn't meet my goal for today</label>
            </div>
            <p>Daily Goal:</p>
            <div id="dailyGoalStatus"></div>
        </div>
        <div class="box">
            <h4>Console log</h4>
            <div class="console"> </div>
        </div>
        <script>
            //var dailyGoalSetTotal = 2;//Set the limit to get reward

            //if (dailyGoalTotal > dailyGoalSetTotal) {
            //    alert("Here' a coupon for POPEYES CHICKEN");
            //}

            ////Calculate Daily Goals
            //function CalculateDailyGoals() {
            //    var dailyGoalTotal = 0;

            //    //Check list criteria here and the points can be controlled not just 1 increment
            //    if (document.getElementById("dailygoal").checked) {
            //        dailyGoalTotal += 1;
            //    }
            //    if (document.getElementById("dailydeeds").checked) {
            //        dailyGoalTotal += 1;
            //    }

            //    //Other criteria can be checked like this and increment total
            //    $("#dailyGoalStatus").text("Score: " + dailyGoalTotal);
            //    if (dailyGoalTotal >= dailyGoalSetTotal) {
            //        $("#dailyGoalStatus").text("Score: " + dailyGoalTotal + " (COUPON: POPEYES)");
            //    }
            //}

            $(document).ready(function () {

                $("#txtStartNumber").val(0);
                $("#txtEndNumber").val(10);


                var maxNumber = parseInt($("#txtEndNumber").val());
                var startNumber = parseInt($("#txtStartNumber").val());

                console.log("MAX - " + maxNumber);

                $("#progressBar").kendoProgressBar({
                    min: startNumber,
                    max: maxNumber,
                    type: "percent",
                    change: onChange,
                    complete: onComplete
                });
            });

            function onChange(e) {
                kendoConsole.log("Change event :: value is " + e.value);
            }

            function onComplete(e) {
                kendoConsole.log("Complete event :: value is " + e.value);

                $("#startProgress").text("Restart Progress").removeClass("k-state-disabled");
            }

            $("#startProgress").click(function () {
                if (!$(this).hasClass("k-state-disabled")) {
                    $(this).addClass("k-state-disabled");
                    zeeprogress()
                }
            });

            //Controling Stanards Progress Bar Element
            $("#goUpButton").click(function () {
                var progressBarValue = $("#progressBar").val();//Get + Increment
                var newCount = progressBarValue + 10;
                kendoConsole.log("You met your goal for today :) : " + newCount);
                $("#progressBar").val(newCount);//Set
            });

            $("#goDownButton").click(function () {
                var progressBarValue = $("#progressBar").val();//Get + Increment
                var newCount = progressBarValue - 10;
                kendoConsole.log("Didn't meet goal :( : " + newCount);
                $("#progressBar").val(newCount);//Set
            });
            ////////////////////


            function zeeprogress() {
                var pb = $("#progressBar").data("kendoProgressBar");

                var maxNumber1 = parseInt($("#txtEndNumber").val());
                var startNumber = parseInt($("#txtStartNumber").val());
                pb.value(startNumber); //initialize with StartNumber


                var totalrecords = 100;

                for (var i = 0; i < 1; i++) {


                    startNumber = parseInt($("#txtStartNumber").val());
                    endNumber = parseInt($("#txtEndNumber").val());

                    for (var j = startNumber; j <= endNumber; j++) {


                        //Progress Bar should show progress of j
                        pb.value(j);

                        i++

                    }
                }


            }
        </script>

        <style>
            #progressBar {
                display: block;
                width: 100%;
                margin-bottom: 10px;
            }
        </style>
    </div>

</body>
</html>